@model LoginVM


<div class="card">
    <div class="card-header">
        <h4>Kullanici Girisi</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="card-body">
         <form asp-action="Login" method="post">

            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Email</label>
                <input type="text" asp-for="@Model.Email" class="form-control"/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Password" class="form-label">Password</label>
                <input type="text" asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Rememberme" class="form-label">Remember Me</label>
                <input type="checkbox" asp-for="@Model.Rememberme" class="form-control" />
                <span asp-validation-for="@Model.Rememberme" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Giris</button>
            <a asp-action="Register" asp-controller="Login">Register</a>
        </form>
    </div>
</div>


@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}